<!-- TODO add this the propper way. -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="straight-line">
  <h2>Best Books</h2>
</div>

<div class="container">
  <div class="row text-center text-lg-left">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let book of books;let i = index">
      <div id="DIV_1">
        <div id="DIV_3">
          <a routerLink="/book-detail/{{book.Id}}" id="A_4">
            <div class="hvrbox">
              <img class=" img-thumbnail img-responsive hvrbox-layer_bottom" [src]="book.PictureURL | default:'http://i.imgur.com/J5LVHEL.jpg'">
              <div class="hvrbox-layer_top">
                <div class="hvrbox-text">
                  <i class="fa fa-eye "></i>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div id="DIV_7">
          <h5 id="H5_19">
            <p class="resizer1">{{book.Name}}</p>
          </h5>
          <h6 id="H6_21">
            <p class="resizer2">by {{book.Author}}</p>
          </h6>
          <h3>
            <span class="badge badge-info">{{i+1}}</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
