.container {
  margin-top: 20px;
}

p {
  text-align: center;
}


#DIV_1 {
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 2px 0px, rgba(0, 0, 0, 0.15) 0px 0px 1px 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  height: 400px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(51, 51, 51);
  top: 0px;
  width: 230px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 0px none rgb(51, 51, 51);
  border-radius: 4px 4px 4px 4px;
  outline: rgb(51, 51, 51) none 0px;
  padding: 5px;
  margin-bottom: 13px;
}

#DIV_3 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  height: 230px;
  left: 0px;
  max-height: 230px;
  min-height: 230px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(51, 51, 51);
  top: 0px;
  width: 200px;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 100px 115px;
  transform-origin: 100px 115px;
  border: 0px none rgb(51, 51, 51);
  font: normal normal 400 normal 15px / 220px "Open Sans", sans-serif;
  margin: 10px;
  outline: rgb(51, 51, 51) none 0px;
  overflow: hidden;
}

#A_4 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(52, 92, 177);
  display: inline-block;
  height: 229.969px;
  left: 0px;
  max-height: 230px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(52, 92, 177);
  top: 0px;
  width: 168.594px;
  column-rule-color: rgb(52, 92, 177);
  perspective-origin: 84.2969px 114.984px;
  transform-origin: 84.2969px 114.984px;
  caret-color: rgb(52, 92, 177);
  border: 0px none rgb(52, 92, 177);
  font: normal normal 400 normal 15px / 220px "Open Sans", sans-serif;
  outline: rgb(52, 92, 177) none 0px;
}

#DIV_7 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  height: 130px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(51, 51, 51);
  top: 0px;
  width: 220px;
  column-rule-color: rgb(51, 51, 51);
  perspective-origin: 110px 65px;
  transform-origin: 110px 65px;
  border: 0px none rgb(51, 51, 51);
  font: normal normal 400 normal 15px / 21.4286px "Open Sans", sans-serif;
  outline: rgb(51, 51, 51) none 0px;
  padding: 0px 15px;
}

#H5_19 {
  box-sizing: border-box;
  color: rgb(13, 13, 13);
  height: 40px;
  letter-spacing: 1px;
  text-decoration: none solid rgb(13, 13, 13);
  width: 190px;
  column-rule-color: rgb(13, 13, 13);
  perspective-origin: 95px 20px;
  transform-origin: 95px 20px;
  border: 0px none rgb(13, 13, 13);
  font: normal normal 400 normal 16px / 20.8px "Open Sans", arial, helvetica, sans-serif;
  margin: 0px 0px 6px;
  outline: rgb(13, 13, 13) none 0px;
  overflow: hidden;
}

#H4_23 {
  font-weight: bold;
  box-sizing: border-box;
  color: black;
  height: 26px;
  text-decoration: none solid rgb(245, 130, 32);
  width: 190px;
  column-rule-color: rgb(245, 130, 32);
  perspective-origin: 95px 8.5px;
  transform-origin: 95px 8.5px;
  border: 0px none rgb(245, 130, 32);
  font-family: 'Exo', sans-serif;
  margin: 0px 0px 10px;
  outline: rgb(245, 130, 32) none 0px;
  text-align: center;
}

.resizer1 {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resizer2 {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: rgb(49, 49, 49)
}

.floater {
  float: left;
}

button {
  background-color: #4CAF50;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18 px;
  margin: 4px 2px;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hvrbox * {
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.hvrbox img {
  max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179);
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.fa-eye {
  font-size: 25px;
}

.straight-line {
  width: 100%;
  height: 40px;
  background: white;
  text-align: center;
}
h3{
  text-align: center;
}
