<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="straight-line">
  <h2>Books</h2>
</div>


<div class="container">
  <div class="row text-center text-lg-left">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let book of books | slice:(itemsPerPage*page)-itemsPerPage:page*itemsPerPage">
      <div id="DIV_1">
        <div id="DIV_3">
          <a routerLink="/book-detail/{{book.Id}}" id="A_4" (click)="recentBook(book)">
            <div class="hvrbox">
              <img class=" img-thumbnail img-responsive hvrbox-layer_bottom" [src]="book.PictureURL | default:'http://i.imgur.com/J5LVHEL.jpg'">
              <div class="hvrbox-layer_top">
                <div class="hvrbox-text">
                  <i class="fa fa-eye "></i>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div id="DIV_7">
          <h5 id="H5_19">
            <p class="resizer1">{{book.Name}}</p>
          </h5>
          <h6 id="H6_21">
            <p class="resizer2">by {{book.Author}}</p>
          </h6>
          <div id="DIV_22">
            <h4 id="H4_23">
              $ {{book.Price}}
            </h4>
          </div>
          <ngb-rating [rate]="book.Rating" [style.color]="'orange'" [style.font-size]="'24px'"></ngb-rating>
          <button>
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 justify-content-center">
  <ngb-pagination [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [rotate]="true" (pageChange)="loadPage($event)">
  </ngb-pagination>
</div>

<div *ngIf="recentlyBooks.length > 0">
  <div class="col-sm-2 rec-cont">
    <h4>Recently clicked</h4>
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let book of recentlyBooks">
        <img routerLink="/book-detail/{{book.Id}}" [src]="book.PictureURL" class="img-fluid img-thumbnail rounded img-responsive">
        <div class="carousel-caption">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
