<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-dark my-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
      <a class="navbar-brand" routerLink="/home">
        <img src="https://freeiconshop.com/wp-content/uploads/edd/book-flat.png" style="height:40px;">
      </a>
      <ul class=" navbar-nav mr-auto stroke">
        <li class="nav-item ">
          <a class="nav-link " routerLink="/home" routerLinkActive="active-link ">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLink="/stores" routerLinkActive="active-link ">Store</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLink="/add-book" routerLinkActive="active-link ">Add</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLink="/best" routerLinkActive="active-link ">Best</a>
        </li>
      </ul>
      <div>
          <button class="btn btn-lg btn-outline-primary " (click)="open() "><i class="fa fa-search"></i></button>
        </div>
    </div>
  </nav>
</div>
