a {
  font-size: 15px;
  font-family: 'Exo', sans-serif;
}

h2{
  font-family: 'Exo', sans-serif;
  text-align: center;
}
.nav-container {
  width: 100%;
  height: 350px;
  background: url("https://images.unsplash.com/photo-1491841573634-28140fc7ced7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43d716f1ef2201048a43de6109cd0937&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-navbar {
  border: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(119, 119, 119);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

button {
  font-family: 'Exo', sans-serif;
  color:white;
  border:2px solid white;
}
button:hover{
  background: #446083;
  border:2px solid #446083;
}
