h1 {
  text-align: center;
}

ul {
  display: inline;
}

li {
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 1em;
  cursor: pointer;
  z-index: 0;
  width: 200px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background: rgba(255, 243, 188, 0.315);
}

li:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f0f0f075;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

li:hover:before {
  transform: scaleX(1);
}

a,
h1 {
  font-family: 'Exo', sans-serif;
}

.center {
  float: none;
  margin: 0 auto;
}

.straight-line {
  width: 100%;
  height: 40px;
  background: white;
  text-align: center;
  font-family: 'Exo', sans-serif;
}
.content{
  margin-top:10px;
}
