<div class="straight-line">
  <h2>Store</h2>
</div>
<div class="content">
  <div class="col-lg-6 col-md-4 col-xs-2 center">
    <ul class="list-group mx-auto">
      <li *ngFor="let store of stores" class="list-group-item" routerLink="store/{{store.Id}}">
        <a>{{store.Name}}</a>
      </li>
    </ul>
  </div>
</div>
