<div class="container">
  <label for="typeahead-basic">Search for a state:</label>
  <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter"
    (selectItem)="selectItem($event)" >

</div>
