<div *ngIf="storeBooks?.Name;else notfound">
  <p>{{storeBooks?.Name}}</p>
  <button routerLink="/add-book">Add</button>
</div>

<button class="btn btn-outline-secondary" (click)="openModal(myModal)">Delete Store</button>
<button class="btn btn-outline-secondary" (click)="update()">{{text}}</button>
<div *ngIf="display">
  <form #f="ngForm" (ngSubmit)="updateName()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="Name" [(ngModel)]="Name" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
  </form>
</div>
<ng-template #notfound>
  <p>Sorry but we dont have any book right now!If you want you can add some!</p>
</ng-template>

<ng-template #myModal>
  <div class="modal-header">
    <h2>Are you sure?</h2>
  </div>
  <div class="modal-body">
    <button class="btn btn-danger" (click)="delete();mr.close()">Delete</button>
    <button class="btn btn-primary" (click)="mr.close()">Close</button>
  </div>
</ng-template>
