img {
  height: 550px;
  width:350px;
}

.info {
  width: 400px;
  margin-left: 30px;
}

.fa {
  font-size: 30px;
}

/* button {
  margin: 20px;
  padding: 15px;
  font-family: 'Exo', sans-serif;
  color: black;
  border: 2px solid black;
}

button:hover {
  background: #446083;
  border: 2px solid #446083;
} */

.container {
  margin-left: 20px;
  margin-top: 20px;
  margin: 0 auto;
}

.card {
  padding: 10px;
}

.bolder {
  font-weight: bold;
  font-size: 20px;
}

.toster {
  width: 300px;
  height: 100px;
  margin-left: 20px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  text-align: center;
  border-radius: 2px;
}
