<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="container py-3">
  <div class="card">
    <div class="row ">
      <div class="col-md-4">
        <!-- Use url pipe instead the sanitize urls and if there is no url return the default  -->
        <img [src]="book.PictureURL | default:'http://i.imgur.com/J5LVHEL.jpg'" class="img-responsive card-img-left" [alt]="book.Name">
      </div>
      <div class="col-md-8 px-3">
        <div class="card-block px-4">
          <h4 class="card-title">{{book.Name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Author: {{book.Author}}</h6>
          <div class="bolder">
            <p>Price: {{book.Price}}</p>
            <p>Rating: {{book.Rating}}</p>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsa, dolorem voluptate iusto iste esse voluptates in quam
            veniam quod, consectetur ad, asperiores necessitatibus aliquam error praesentium sed eveniet sint. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Fugit ipsa, dolorem voluptate iusto iste esse voluptates in quam
            veniam quod, consectetur ad, asperiores necessitatibus aliquam error praesentium sed eveniet sint.
          </p>
          <button class="btn btn-primary" routerLink="/add-book/{{book.Id}}">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-primary" (click)="openModal(myModal)">
            <i class="fa fa-trash"></i>
          </button>
          <button class="btn btn-primary" (click)="locationBack()">
            <i class="fa fa-chevron-circle-left"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #myModal>
  <div class="modal-header">
    <h2>Are you sure?</h2>
  </div>
  <div class="modal-body">
    <button class="btn btn-danger" (click)="deleteBook()">Delete</button>
    <button class="btn btn-primary" (click)="closeModal()">Close</button>
  </div>
</ng-template>
