<div class="straight-line">
  <h2>{{select.value}} Form</h2>
</div>

<div class="container">
  <img *ngIf="select.value==='Book'" src="http://pngimg.com/uploads/book/book_PNG2117.png" alt="">
  <div class="choices">
    <label>Book</label>
    <input type="radio" value="Book" #select="ngModel" [(ngModel)]="selected" name="choice" required>
    <label>Store</label>
    <input type="radio" value="Store" #select="ngModel" [(ngModel)]="selected" name="choice" required>
  </div>
  <form #f="ngForm" (ngSubmit)="submitBooks()">
    <div *ngIf="select.value==='Book';else storeReg">
      <input type="hidden" [(ngModel)]="model.Id" name="Id">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control " name="Name" [(ngModel)]="model.Name" required>
      </div>
      <div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" name="Author" [(ngModel)]="model.Author" required>
      </div>
      <div class="form-group">
        <label>Cover URL</label>
        <input type="text" class="form-control" name="PictureURL" [(ngModel)]="model.PictureURL" required>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <label>Price</label>
          <input type="number" class="form-control" name="Price" [(ngModel)]="model.Price" required>
        </div>
        <div class="form-group">
          <label>Rate</label>
          <input type="number" class="form-control" name="Rating" [(ngModel)]="model.Rating" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary text-center" [disabled]="f.invalid">Submit</button>
    </div>
  </form>
  <ng-template #storeReg>
    <select class="form-control" [(ngModel)]="chosenOption" name="chosen">
      <option *ngFor="let upload of uploads" [value]="upload">
        {{upload}}
      </option>
    </select>
    <form novalidate #f2="ngForm" (ngSubmit)="submitStore()">
      <div class="container">
        <div *ngIf="chosenOption === 'Post Store Book'; else justStore">
          <div class="form-group">
            <label>Book id</label>
            <input type="number" class="form-control" [(ngModel)]="storeModel.BookId" name="BookId" required>
          </div>
          <div class="form-group">
            <label>Store id</label>
            <input type="number" class="form-control" [(ngModel)]="storeModel.StoreId" name="StoreId" required>
          </div>
        </div>
        <ng-template #justStore>
          <div class="form-group">
            <label>Store Name</label>
            <input type="text" class="form-control" [(ngModel)]="storeName" name="Name" required>
          </div>
        </ng-template>
        <button type="submit" class="btn btn-primary" [disabled]="f2.invalid">Submit</button>
      </div>
    </form>
  </ng-template>

</div>
