label,
h1 {
  font-family: 'Exo', sans-serif;
}

input[type="number"] {
  width: 100px;
}

input[type="text"] {
  width: 500px;
}

.straight-line {
  width: 100%;
  height: 40px;
  background: white;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

label {
  font-weight: bold;
}

input {
  background: rgba(148, 122, 122, 0.041);
  padding: 10px;
  margin:5px;
}

.container {
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
button{
  margin-top:20px;
}
img{
  width:500px;
  height: 300px;
  float: right;
}
